extends layout-EN

block content
  header
    h2.color= title
  blockquote.outline 
    p Self-education is, I firmly believe, the only kind of education there is.
    cite Isaac Asimov
  div#intro-message
    p It's in the same spirit as that of Isaac Asimov that I want to show my process of learning, for I strongly believe in the power of aiming at the highest possible 
      | valuable goal you can concieve of and consistently producing small incremental steps towards the attainment of that goal.
    p With this frame of mind in place, writting a blog and sharing my ideas with anyone who happens to find my works helps push me forward towards the attainment of my goals, 
      | partly because in writting down my ideas I can get a clearer understanding of my flaws and maybe my audience can help me correct any mistakes I may blindly fall into.
    p On that account I have been lucky enough to have found the intellectual mountains I plan to conquer in my lifetime, and just in the same way as a farmer sows the seeds 
      | in the ground and enters into a living relationship with the growing plant for years to come, I long for this relationship I began a few years ago with the fields of 
      | Computer Science, Economics and the study of mathematics, a relationship which fills me with a sense of fullfilment and deepens my understanding of the world around me.
    p Having lived most of my young life around nature, I have learned to appreciate her beauty and have carefully began to develop a sense of awareness for the secrets and misteries 
      | she hides from the unaware, as such I decided to introduce in this blog a section dedicated exclusively to the beauty of nature.
    p Books show us how ignorant we where before we opened their covers, so in an effort to open up as many minds and elevate as many spirits as I can, I keep a section dedicated to them with
      |  a few lines to summarise it's value and a personal, subjective comment on why it deserves your attention.
  if post
    .index-post
      header
        h3.color Random Post
      article.post-preview
        a(href="/EN/" + post.url)
          h4= post.english.title
          time.post-date(date-time=post.date) #{post.post_time_formatted}
        p.preview= post.english.preview
        .entry-small
          .tags
            each tag in post.tags
              a(href='/EN/posts/find/' + tag)= tag.toString().replace('_', ' ')
            else
              | *
  if tags.length
    .index-tag-cloud
      header
        h3.color Tags
      .tags
        for tag in tags
          a(href='/EN/posts/find/' + tag)= tag.toString().replace('_', ' ')
