extends layout-ES

block content
  header
    h2.color= title
  blockquote.outline
    p La autoeducación es, estoy convencido, el único tipo de educación que existe
    cite Isaac Asimov
  div#intro-message
    p Es en el mismo espíritu que el de Isaac Asimov con el que quiero documentar mi proceso de aprendizaje, 
      | razón por la cual escribir un blog me parece la experiencia más enriquiecedora para aprender sobre un tema determinado 
      | a la par que permito que cualquier persona pueda no solo aprender conmigo sino también influir y corregir mis equivocaciones.
    p Mis intereses me han llevado con el tiempo hacia las Ciencias de la Computación y es aquí donde centraré todos mis esfuerzos 
      | para aportar una mayor comprensión sobre esta ciencia, no solo para mí sino para todo aquel que se encuentre con mis artículos.
    p Junto a estos intereses se encuentran también el estudio de economía, pues creo que es un pilar fundamental para cualquier sociedad, 
      | y el estudio de las matemáticas ya que me permiten comprender el mundo de una forma más profunda.
    p Bajo sus arroyos plateados, tras sus nubes efímeras, entre sus torrentes de luz en un bosque, escucho la voz de la naturaleza; siganme a medida descubro sus secretos y misterios.
    p Los libros nos muestran cuán ignorantes eramos antes de abrir sus portadas, asi que en un esfuerzo por abrir todas las mentes y por elevar todos los espíritus que pueda, mantengo una sección 
      | dedicada a ellos con algunas lineas a modo de resumen y un pequeño párrafo de ambito personal sobre porqué les podría ser de interés.
  if post
    .index-post
      header
        h3.color Post Aleatorio
      article.post-preview
        a(href="/ES/" + post.url)
          h4= post.español.title
          time.post-date(date-time=post.date) #{post.post_time_formatted}
        p.preview= post.español.preview
        .entry-small
          .tags
            each tag in post.tags
              a(href='/ES/posts/find/' + tag)= tag.toString().replace('_', ' ')
            else
              | *
  if tags.length
    .index-tag-cloud
      header
        h3.color Etiquetas
      .tags
        for tag in tags
          a(href='/ES/posts/find/' + tag)= tag.toString().replace('_', ' ')
