extends layout-ES

block content
  header
    h2.color= title
  blockquote.outline
    cite 
      span.color “
      | La autoeducación es, estoy convencido, el único tipo de educación que existe
      span.color ”
      p Isaac Asimov
  div#intro-message
    p Es en el mismo espíritu que el de Isaac Asimov con el que quiero documentar mi proceso de aprendizaje, 
      | razón por la cual escribir un blog me parece la experiencia más enriquiecedora para aprender sobre un tema determinado 
      | a la par que permito que cualquier persona pueda no solo aprender conmigo sino también influir y corregir mis equivocaciones.
    p Mis intereses me han llevado con el tiempo hacia las Ciencias de la Computación y es aquí donde centraré todos mis esfuerzos 
      | para aportar una mayor comprensión sobre esta ciencia, no solo para mí sino para todo aquel que se encuentre con mis artículos.
    p Junto a estos intereses se encuentran también el estudio de economía, pues creo que es un pilar fundamental para cualquier sociedad, 
      | y el estudio de las matemáticas ya que me permiten comprender el mundo de una forma más profunda.
    p Para aquellos que tengan una mente abierta y les guste una buena lectura sobre temas relacionados 
      | con la naturaleza, tengo una sección dedicada exclusivamente a ella asi que por favor no duden en descubrirla!
    p También tengo una sección dedicada a los libros que he ido encontrando a lo largo de mi vida y aquellos que 
      | he encontrado de gran valor, por lo que les voy dedicando algunas lineas a modo de resumen y un pequeño parrafo de ambito personal  
      | sobre porqué les podría ser de interés.
  if post
    .index-post
      header
        h3.color Post Aleatorio
      article.post-preview
        a(href="/ES/" + post.url)
          h4= post.español.title
          time.post-date(date-time=post.date) #{post.post_time_formatted}
        .entry-small
          .entry-tags
            each tag in post.tags
              a(href='/ES/posts/find/' + tag)= tag.toString().replace('_', ' ')
            else
              | *
        p.preview= post.español.preview
  if tags.length
    .index-tag-cloud
      header
        h3.color Etiquetas
      .tag-cloud
        for tag in tags
          a(href='/ES/posts/find/' + tag)= tag.toString().replace('_', ' ')
