extends layout-EN

block content
  header
    h2.color= title
  blockquote.outline 
    p Self-education is, I firmly believe, the only kind of education there is.
    cite Isaac Asimov
  div#intro-message
    p It is in the same spirit as that of Isaac Asimov that I want to show my process of learning, 
      | which is why writting a blog seems to me like the most rewarding experience in terms of learning the topic at hand 
      | as well as allowing for anybody to not only learn with me but also to influence and correct any mistakes I may blindly fall into.
    p My interests have slowly taken me towards Computer Science and it is here where I will focus
      |  most of my efforts to provide a better understanding about this science, not only for me but also for anybody who happens to find my articles.
    p Some of these interests also include the study of economics, which I believe is a fundamental pilar for any society, and the study of mathematics which 
      |  helps me to have a deeper understanding of our world.
    p For those who have an open mind and enjoy a good read on topics regarding nature,
      |  I have a section dedicated exclusively to it so please check it out!
    p I also have a section dedicated to the books I have come to discover throughout my life and which I have found of great valuable, which is why I 
      | will dedicate a few lines to summarise it's value and a personal, subjective comment on why it deserves 
      | your attention.
  if post
    .index-post
      header
        h3.color Random Post
      article.post-preview
        a(href="/EN/" + post.url)
          h4= post.english.title
          time.post-date(date-time=post.date) #{post.post_time_formatted}
        p.preview= post.english.preview
        .entry-small
          .tags
            each tag in post.tags
              a(href='/EN/posts/find/' + tag)= tag.toString().replace('_', ' ')
            else
              | *
  if tags.length
    .index-tag-cloud
      header
        h3.color Tags
      .tags
        for tag in tags
          a(href='/EN/posts/find/' + tag)= tag.toString().replace('_', ' ')
